openapi: 3.0.1
info:
  title: Hotelbeds APItude Activities Content API
  description: Specification of the Hotelbeds (HBX Group) APItude API suite. Covers the Hotel Booking API (availability, checkrates, bookings), the Hotel Content API (static hotel and destination data), the Activities API, the Transfers API, and the Hotel Cache API. All requests authenticate with an Api-key header plus an X-Signature header, a SHA256 hash (in hex) of the API key, shared secret, and the current Unix timestamp in seconds.
  termsOfService: https://www.hotelbeds.com/terms-conditions/
  contact:
    name: Hotelbeds Developer Support
    url: https://developer.hotelbeds.com/support/
  version: '1.0'
servers:
- url: https://api.hotelbeds.com
  description: Production environment
- url: https://api.test.hotelbeds.com
  description: Test / evaluation environment
security:
- ApiKeyAuth: []
  SignatureAuth: []
tags:
- name: Content
paths:
  /hotel-content-api/1.0/hotels:
    get:
      operationId: getHotelContent
      tags:
      - Content
      summary: Hotel content
      description: Returns static content for hotels - descriptions, addresses, images, and facilities.
      parameters:
      - name: fields
        in: query
        schema:
          type: string
      - name: language
        in: query
        schema:
          type: string
      - name: from
        in: query
        schema:
          type: integer
      - name: to
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: Hotel content results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotelContentResponse'
  /hotel-content-api/1.0/locations/countries:
    get:
      operationId: getCountries
      tags:
      - Content
      summary: Countries
      description: Returns the list of countries available in the content database.
      parameters:
      - name: fields
        in: query
        schema:
          type: string
      - name: language
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Country list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotelContentResponse'
  /hotel-content-api/1.0/locations/destinations:
    get:
      operationId: getDestinations
      tags:
      - Content
      summary: Destinations
      description: Returns the list of destinations available in the content database.
      parameters:
      - name: fields
        in: query
        schema:
          type: string
      - name: language
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Destination list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotelContentResponse'
components:
  schemas:
    Hotel:
      type: object
      properties:
        code:
          type: integer
        name:
          type: string
        categoryName:
          type: string
        destinationName:
          type: string
        minRate:
          type: string
        currency:
          type: string
    HotelContentResponse:
      type: object
      properties:
        from:
          type: integer
        to:
          type: integer
        total:
          type: integer
        hotels:
          type: array
          items:
            $ref: '#/components/schemas/Hotel'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Api-key
      description: Your APItude API key, issued per API suite (Hotel, Activities, Transfers).
    SignatureAuth:
      type: apiKey
      in: header
      name: X-Signature
      description: SHA256 hash, in hexadecimal, of the concatenation of the API key, the shared secret, and the current Unix timestamp in seconds.
